<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.emdata.ivvs.dao.SbbhinfoMapper">

    <select id="selectList" resultType="java.lang.String">
        select sbbh  from ser_sbbhinfo where access_state = 1 and status =1
    </select>

</mapper>