<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.emdata.ivvs.dao.ViolateCodeMapper">

    <select id="queryAllActive" resultType="java.lang.String">
        select code  from ser_violation_code where active = 1 and algIllegalType!=999
    </select>

</mapper>